{% block css %}
{{ block.css }}

<style type="text/css">
 div, h5,{
    font-family:Parastoo ;
    font-size: 10px;
 }
</style>
{% endblock css %}

    <a href="{% url 'my_app:course_detail' id=course.id %}">
    <div class="image-product product-hover " style=" padding: 0px; border:1px solid silver;"	 >
        <div>
        <img src="{{ course.image.url }}" alt="{{ course.altt }}"><hr>
        <h5 class="text-product"><b>{{ course.title }} </b></h5>
        <h5 class="text-product"><b><a href="#"> </a></b></h5>
    </a>
        <div class="col-xs-4 w3-block viewpoint" style="font-size: 18px;font-family: Parastoo"><a href="#" class="aviewpoint">جزئیات</a> </div>

        <div style="font-family:Vazir; font-size: 18px "  class="col-xs-4  heart-product" > 123 </div>


        <div style="font-family: Parastoo;font-size: 18px" class="col-xs-4 comment-product">نظرات </div>
        </div>
        <hr>
    </div>



<!--
    {% load sorl_thumbnail %}
    {% thumbnail item.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    course.description|truncatewords:10
-->