{% extends 'base.html'  %}
{% load static %}


{% block content %}

		<div class="container">
			<h2 class="h2-h2"><b><span>آخرین</span> <span id="span-red">محصولات</span></b></h2>
			<h5 class="h5-h5">محصول خود را انتخاب کنید</h5>
		</div>
		<!---start card--->
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="image-product product-hover" style=" padding: 0px; border:1px solid silver;"	 >
						<div>
						<img src="{% static 'images/place/pic1.png' %}" alt="Avatar"><hr>
						<h5 class="text-product"><b><a href="#">آموزش برنامه نویسی پایتون</a></b></h5>
						<div class="col-xs-4 w3-block viewpoint"><a href="#" class="aviewpoint">جزءیات</a> </div>
						<div class="col-xs-4 w3-block heart-product"><i class="fa fa-heart-o"></i> 1223 </div>
						<div class="col-xs-4 w3-block comment-product"><i class="fa fa-comment"></i> نظرات </div>
						</div><hr>
					</div>
				</div>
				<div class="col-md-4">
					<div class="image-product product-hover " style=" padding: 0px; border:1px solid silver;"	 >
						<div>
						<img src="{% static 'images/place/pic2.png' %}" alt="Avatar"><hr>
						<h5 class="text-product"><b><a href="#">آموزش برنامه نویسی پایتون</a></b></h5>
						<div class="col-xs-4 w3-block viewpoint"><a href="#" class="aviewpoint">جزءیات</a> </div>
						<div class="col-xs-4 w3-block heart-product"><i class="fa fa-heart-o"></i> 1223 </div>
						<div class="col-xs-4 w3-block comment-product"><i class="fa fa-comment"></i> نظرات </div>
						</div><hr>
					</div>
				</div>
				<div class="col-md-4">
					<div class="image-product product-hover " style=" padding: 0px; border:1px solid silver;"	 >
						<div>
						<img src="{% static 'images/place/pic3.png' %}" alt="Avatar"><hr>
						<h5 class="text-product"><b><a href="#">آموزش برنامه نویسی پایتون</a></b></h5>
						<div class="col-xs-4 w3-block viewpoint"><a href="#" class="aviewpoint">جزءیات</a> </div>
						<div class="col-xs-4 w3-block heart-product"><i class="fa fa-heart-o"></i> 1223 </div>
						<div class="col-xs-4 w3-block comment-product"><i class="fa fa-comment"></i> نظرات </div>
						</div><hr>
					</div>
				</div>
			</div>
		</div>
		<!---end card--->	

		<!--strat aparat-->
			<div class="row row-aparat">
				<div  class="col-aparat">
					<b><span class="span-aparat" id="span-aparat">می دونستی تو آپارات کلی نمونه ویدءو آپلود کردیم؟</span></b>
					<a href="" class="btn btn-success btn-aparat">آپارات</a>
				</div>
			</div>
		<!--end aparat-->
	

		<div>
			<h2 class="h2-h2"><b><span>پرسش و </span> <span id="span-red">پاسخ</span></b></h2>
			<h5 class="h5-h5">مشاهده سوالات پاسخ داده شده توسط ما</h5>
		</div>
		<!-- start question-->
		<div class="row container">
			<div class="col-md-6"> 
				<div id="accordion">
					<h6 style="font-size: 13px;">آیا بعد از خرید، میتوانم محصول خریداری شده را دانلود کنم؟</h6>
					<div>
						<p>
							بله – محصولات سایت  ما هم به صورت دی وی دی هستند و هم به صورت دانلودی که لینک دانلود برای شما ایمیل میشود
						</p>
					</div>
					<h6 style="font-size: 13px;">آیا این آموزش ها پیشنیاز میخوان؟</h6>
					<div>
						<p>
							به هیچ وجه، تنها پیش نیاز علاقه شما است.
					</div>
					<h6 style="font-size: 13px;">در صورت بروز مشکل چه کار کنم؟</h6>
					<div>
						<p>
							فقط کافیست از طریق راهای ارتباطی موجود با ما در تماس باشید
						</p>
					</div>
				</div>
			</div>
			
						
			<div class="col-md-6">
				<div id="accordion2">
					<h5 class="accordion" style="font-size: 13px;">آیا در کنار فیلم های آموزشی، ابزارهای مورد نیاز وجود دارند؟</h5>
					<div>
						<p>
							بله – در صورتی که در آموزش ها از فایل و یا برنامه ایی استفاده کرده باشیم، درون پکیج قرار داده شده است.
						</p>
					</div>
					<h5 class="accordion" style="font-size: 13px;">آیا آموزشهای اراءه شده در سایت فارسی و تصویری هستند؟</h5>
					<div>
						<p>
							به تمام آموزش ها سایت با کیفیت بالا و به زبان فارسی ارءه شده اند
						</p>
					</div>
					<h5 class="accordion" style="font-size: 13px;">آیا آموزش های سایت پشتیبانی هم دارند</h5>
					<div>
						<p>
							بله ، ما با افتخار در کنار شما هستیم
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--end question-->

{% endblock content %}